@charset "utf-8";
/* CSS Document */

.header,.nav_index,#nav_banner{width: 1080px;margin: 0 auto;}


/* 顶部 */
#head{width:100%;height: 30px;background: #333; }

.header{
    height: 30px;
    line-height: 30px;
    text-align: center;

}
.header a:hover{
    color: #fff;
}
.head_nav{
    float: left;
}
.head_nav li{
    float: left;
    
}
.head_nav li a{
    color: #ccc;
    height: 12px;
    line-height: 12px;
    border-right: 1px solid #cbcbcb;
    padding: 0 18px;
}

.head_nav .border0 a{
    border-right: none;
}

.head_user{
    float: right;
}
.head_user>li{
    float: left;
    color: #cdcdcd;
    vertical-align: middle;
}
.head_user>li a {
    color: #ccc;
    height: 12px;
    line-height: 12px;
    border-right: 1px solid #cbcbcb;
    padding: 0 18px;
}
.head_user>li .user_login{
    padding: 0 0 ;
    border-right: none;
}
.msg_center{
    background: url(http://static.biyao.com/pc/common/img/master/msgcenter.png?v=biyao_7dcad45) no-repeat 2px 9px;
}
.head_user .msg_center {
    margin-left: 18px;
}
.head_user .msg_center{
    padding-left: 10px;
}
.head_user .kf_fuwu a{
    border-right: none;
}
.user_shopcar{

    background: #523669 url(http://static2.biyao.com/pc/common/img/master/shopCar.png?v=biyao_450e7fc) no-repeat 15px 7px;
}
.head_user .user_shopcar a{
    padding-left: 38px;
    border-right: none;
    display: inline-block;  
}
.head_user  span{
    width: 20px;
    display: inline-block;
} 
.kf_fuwu i{
    display: inline-block;
    width: 9px;
    height: 4px;
    margin-left: 10px;
    background: url(http://static1.biyao.com/pc/common/img/master/comSprite.png?v=biyao_d192a16) 0 -102px no-repeat;
    vertical-align: middle;
}
/* 导航 */
#nav{
    width: 100%;
    height: 145px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,.05);
    z-index: 110;
}
.nav_index{
    height: 145px;
    position: relative;
}
.nav_index a:hover{
    color: #f7b200;
}
.logo{
    width: 239px;
    height: 98px;
    background: url(http://static3.biyao.com/pc/common/img/master/logo.png?v=biyao_e06b35d) 0 center no-repeat; 
    float: left;
}
.nav_search{
    position: relative;
    float: right;
    margin-top: 30px;
}
.nav_search p {
    width: 538px;
    height: 38px;
    position: relative;
    z-index: 2;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #fff;
}
.nav_search input{
    width: 488px;
    height: 38px;
    padding-left: 10px;
    border: 0;
    line-height: 38px;
    color: #333;
    font-size: 16px;
    border-radius: 3px;
    vertical-align: middle;
    float: left;
}
#searchBtn{
    display:inline-block;
    width: 37px;
    height: 38px;
    border-left: 1px solid #ccc;
    vertical-align: middle;
    background: url(http://static2.biyao.com/pc/common/img/master/search.png?v=biyao_2e92562) center center no-repeat;
    cursor: pointer;
    float: left;
}
.nav_search ul{
    position: relative;
    top: 0;
    left: 0;
    height: 35px;
    padding: 0;
    margin-bottom: 40px;  

}
.nav_search ul li {
    float: left;
    margin-right: 20px;
    height: 35px;
    line-height: 35px;
    
}
.nav_search ul li a {
    color: gray;
}
.nav_tab{
    position: absolute;
    bottom: 0;
    left: 0;  
}
.nav_tab span{
    width: 180px;
    height: 40px;
    padding-left: 20px;
    line-height: 40px;
    font-size: 16px;
    background: #f2f2f2;
    color: #333;
    float: left;

}
.nav_tab span i{
    display: inline-block;
    width: 15px;
    height: 12px;
    margin-right: 10px;
    background: url(http://static3.biyao.com/pc/common/img/master/nav-list.png?v=biyao_a50ea2d) no-repeat;
}
.nav_tab ul{
    float: left;
    height: 40px;
    line-height: 40px;
}
.nav_tab ul li {
    float: left;
    height: 16px;
    border-right: 1px solid #ccc;
    line-height: 16px;
    cursor: pointer;
    padding: 0 30px;
    display: inline-block; 
    margin-top:12px; 
}
.nav_tab ul li a{
    color: #333;
    font-size: 16px; 
}

/* 右边栏 */
.rightBar {
    position: fixed;
    left: 50%;
    bottom: 100px;
    display: none;
    z-index: 101;
    margin-left: 610px;
    height: 144px;
}
.rightBar li {
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.rightBar-code {
    position: relative;
    background: url(http://static.biyao.com/pc/common/img/master/rightBar-code.png?v=biyao_fe900d3) 0 center no-repeat;
}
.rightBar-code:hover {
    background: url(http://static1.biyao.com/pc/common/img/master/rightBar-codeActive.png?v=biyao_a0d97e9) 0 center no-repeat;
}
.rightBar-code div {
    position: absolute;
    top: -65px;
    left: -310px;
    display: none;
    width: 301px;
    border-radius: 4px;
    box-shadow: 0 1px 10px 4px rgba(0,0,0,.05);
    background: #fff;
}
.rightBar-code span {
    position: absolute;
    top: 50%;
    right: -15px;
    z-index: 100;
    display: inline-block;
    width: 15px;
    height: 30px;
    margin-top: -14px;
    background: url(http://static4.biyao.com/pc/common/img/master/right-triangle.png?v=biyao_ba531e2) no-repeat;
    background-size: 100% 100%;
}
.rightBar-code dl {
    float: left;
    padding: 10px;
}
.rightBar-code .code-public {
    padding: 4px 4px 10px;
}
.rightBar-code dt {
    width: 130px;
    height: 130px;
    background: url(http://static1.biyao.com/pc/common/img/master/app.png?v=biyao_41bce2f) center center no-repeat;
    background-size: 100% 100%;
}
.rightBar-code .code-public dt {
    width: 143px;
    height: 143px;
    background: url(http://static3.biyao.com/pc/common/img/master/wxCode.jpg?v=biyao_79ba7c9) center center no-repeat;
    background-size: 100% 100%;
}
.rightBar-code dd {
    margin-top: 10px;
    text-align: center;
    color: #523669;
    font-size: 14px;
}
.rightBar-code .code-public dd {
    margin-top: 3px;
}
.rightBar-top {
    display: none;
    background: url(http://static2.biyao.com/pc/common/img/master/rightBar-top.png?v=biyao_43b4dc3) 0 center no-repeat;
}
.rightBar-top:hover {
    background: url(http://static3.biyao.com/pc/common/img/master/rightBar-topActive.png?v=biyao_9ed53de) 0 center no-repeat;
}

/* 导航和轮播图 */
#nav_banner{
    width: 1080px;
    height: 360px;
    position: absolute;
    background: #fff;
    top: 175px;
    margin: 10px auto 0px;
    left: 50%;
    margin-left: -540px;
}
.gp6-banner-container{
    width: 1080px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
/* 导航 */
.nav-list{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    height: 320px;
    padding: 20px 0;
    background: url(http://static1.biyao.com/pc/common/img/master/category-back.png?v=biyao_c27c88e);
}
.nav-main{
    width: 200px;
}
.nav-main>p{
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
}
.nav-main>p a{
    font-size: 14px;
    color: #fff;
}
.nav-main>p span{
    margin: 0 5px;
    font-size: 16px;
    color: #fff;
}
.nav-main>ul{
    position: absolute;
    left: 200px;
    top: 0;
    display: none;
    min-height: 331px;
    width: 700px;
    padding: 15px 0;
    background: #fff;
    box-shadow: 1px 0 15px 5px rgba(0,0,0,.05);
}
.nav-sub>a{
    display: inline-block;
    width: 62px;
    margin: -2px 10px 0;
    line-height: 20px;
    text-align: right;
    font-size: 14px;
    color: #333;
    vertical-align: middle;
}
.nav-sub>i {
    display: inline-block;
    margin-top: 15px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
}
.nav-sub ul{
    float: right;
    width: 567px;
    margin: 0 20px 0 16px;
    padding-top: 15px;
    border-bottom: 1px solid #f2f2f2;
}
.nav-item{
    float: left;
    margin: 0 20px 15px 0;
    line-height: 20px;
}
.nav-item a {
    text-align: center;
    color: gray;
}


/* 轮播图 */

.gp6-banner-wrapper{
    width: 1080px;
    height: 360px;
    position: relative;
    overflow: hidden;
}
.gp6-banner-item{
    width: 1080px;
    height: 360px;
    position : absolute;
    text-align: center;
    line-height: 360px;
}
.gp6-banner-item img{
    width:1080px;
    height: 360px;
}
.gp6-banner-item.gp6-active{
    z-index: 2;
}
.gp6-banner-pagination{
    width: 880px;
    height:20px;
    position: absolute;
    z-index: 99;
    bottom: 20px;
    left:200px;
    text-align: center;
}

.gp6-banner-pagination span{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 2px solid #523669;
    margin: 0 6px;
}
.gp6-banner-pagination span.gp6-active{
    background: #f7b200;
    border:2px solid #f7b200;
}
.gp6-banner-pagination span:first-child{
    margin-left: 0; 
}

.gp6-button-prev,.gp6-button-next{
    height: 48px;
    width: 48px;
    background:red;
    position: absolute;
    z-index: 999;
    margin-top: -24px;
    top: 50%;
    border-radius: 2px;
    background: url(http://static2.biyao.com/pc/common/img/master/slider-left.png?v=biyao_0218904) no-repeat;
    cursor: pointer;
}

.gp6-button-prev{
    left: 220px;
   
}
.gp6-button-next{
    right: 20px;
    background: url(http://static3.biyao.com/pc/common/img/master/slider-right.png?v=biyao_f339009) no-repeat;
}

/* 专题文章部分 */
#article{
    width: 1080px;
    margin: 0 auto;
    height: 56px;
    line-height: 56px;
    background: #fff;
    position: absolute;
    top: 545px;
    left: 50%;
    margin-left: -540px;

}
#article a{
    display: block;
    font-size: 16px;
    background: #fff;
    color: #333;
}
#article img{
    display: inline-block;
    width: 100px;
    margin: 0 48px;
    vertical-align: middle;
}
#article span {
    display: inline-block;
    height: 21px;
    padding-left: 20px;
    border-left: 1px solid #ccc;
    font-size: 16px;
    line-height: 21px;
    vertical-align: middle;
}
#article i{
    float: right;
    margin-right: 20px;
}

/* 主体开始 */
#category{
    width: 1080px;
    margin: 0 auto;
    position: absolute;
    top:611px;
    left: 50%;
    margin-left: -540px;
}
#category>div{
    margin-top: 40px;
}
.category-recommend-2 ul{
    width: 1095px;
}
.category-recommend-2 li{
    float: left;
    margin-right: 15px;
}
.category-recommend-2 a {
    display: block;
    width: 350px;
    height: 220px;
    transition: box-shadow .5s ease-in-out 0s;
}
.category-recommend-2 img {
    width: 350px;
    height: 220px;
}
.category-title{
    position: relative;
    margin-bottom: 20px;
}
.category-title p {
    line-height: 24px;
    color: #333;
    font-size: 24px;
}
.category-title a {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #333;
    font-size: 16px;
}

/* 精选 */
.category-recommend-1{
    width: 100%;
    height: 324px;
}
.category-recommend-1 ul{
    height: 280px;
}
.category-recommend-1 ul li:first-child{
    width: 620px;
}
.category-recommend-1 ul li {
    width: 89px;
    height: 280px;
    float: left;
    position: relative;
}
.category-recommend-1 ul li div {
    width: 100%;
    height: 280px;
}
.category-recommend-1 ul li:first-child div.des{
    background: rgba(0,0,0,0); 
}
.category-recommend-1 ul li div.des {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
}

/* 光学眼镜 */
.category-recommend-3 {
    max-height: 627px;
}
.category-title {
    position: relative;
    margin-bottom: 20px;
}
.category-title p {
    line-height: 24px;
    color: #333;
    font-size: 24px;
}
.category-title a {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #333;
    font-size: 16px;
}
.category-list {
    width: 1095px;
}
.category-list li {
    float: left;
    margin: 0 15px 15px 0;
}
.category-list i {
    display: inline-block;
    width: 204px;
    height: 204px;
    overflow: hidden;
}
.category-list a {
    display: block;
    width: 204px;
    text-align: center;
    height: 284px;
    background: #fff;
    transition: box-shadow .5s ease-in-out 0s;
}
.category-brand a {
    width: 423px;
}
.template3 i {
    display: inline-block;
    height: 204px;
    overflow: hidden;
}
.category-brand i {
    width: 423px;
}
.template3 i img {
    height: 204px;
    width: auto;
    margin-left: -62px;
}
.category-brand img {
    position: relative;
    left: -20px;
    width: 464px;
}
.category-list img {
    width: 204px;
    height: 204px;
    transition: transform .5s ease-in-out 0s;
}
.category-list a:hover img {
    transform: scale3d(1.03,1.03,1);
}
.category-brand span {
    display: block;
    margin-top: 24px;
    font-size: 20px;
    color: #333;
}
.category-list dl {
    height: 60px;
    margin-top: 20px;
}
.category-list dt {
    color: #333;
    font-size: 16px;
    text-align: center;
}
.category-list dd {
    margin-top: 5px;
    color: #f33;
    font-size: 16px;
    text-align: center;
}


/* 购物车详情页 */
.bd_bottom_ea{
    width: 100%;
    height: 98px;
    border-bottom: 1px solid #eae4e8;
}
.pub_logo_box{
    width: 1200px;
    margin: 0 auto;
    height: 98px;
}
.pub_logo{
    padding-top: 27px;
}
.pub_logo a{
    float: left;
}
.pub_logo span{
    float: right;
}
.warp{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.bd_b_d5c{
    border-bottom: 1px solid #d5cdda;
    color: #523669;
    line-height: 24px;
    font-size: 18px;
    padding-top:30px;
    padding-bottom: 10px;
}
.container{
    background: #fff;
    padding: 5px;
}
.item{
	box-sizing: border-box;
	padding: 10px;
	height: 224px;
	width: 100%;
	background: #fff;
}
.item .msg ,.item .operation{
	float: left;
}
.item .msg:after{
	content: "";
	display: block;
	clear: both;
}
.item .msg img{
	width: 138px;
	height: 204px;
	float: left;
}
.item .msg h5{
	display: block;
	text-align: center;
	width: 400px;
	float:left;
	margin-top: 90px;
	padding-left: 5px;
}
.operation:after{
	content: "";
	display: block;
	clear: both;
}
.operation {
	float: left;
	padding-left: 80px;
	margin-top: 90px;
}
.operation input{
	width: 40px;
	text-align: center;
}
.operation button{
	padding: 0 5px;
}
.delete{
	float: right;
	padding-right: 80px;
	margin-top: 90px;
}

/* 公用的脚部 */
#footer{
    width: 100%;
    height: 465px;
    margin-top: 60px;
    background: #fff;
    position: absolute;
    top: 7720px;
}
.foot{
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    
}
.footer-serve{
    height: 120px;
    border-bottom: 1px solid #ccc;
}

.footer-serve li {
    float: left;
    width: 270px;
    height: 120px;
    line-height: 120px;
}
.footer-serve li img{
    width: 80px;
    height: 80px;
    vertical-align: middle;
    display: inline-block;
}
.footer-serve li span{
    display: inline-block;
    margin-left: 15px;
    font-size: 16px;
    color: #333;
    vertical-align: middle;
}
.footer-main{
    margin-top: 30px;
    height: 140px;
}
.fmain_left{
    float: left;
    padding-left: 50px;
    text-align: left;
    border-right: 1px solid #ccc;
}
.footlist{
    margin-right: 120px;
    width: 64px;
    float: left;
}
.footlist li{
    margin-bottom: 10px;
}
.footlist li a{
    font-size: 12px;
    color: gray;
}
.footlist li:first-child{
    font-size: 16px;
    color: #333;
    font-weight: 400;
    margin-bottom: 30px;
}
.footapp{
    margin-right: 120px;
    width: 105px;
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 400;   
}
.footapp img{
    width: 105px;
    height: 105px;
    margin-top: 15px;
}
.fmain_right p{
    font-size: 16px;
    color: #333;
}
.fmain_right .fmremaill{
    margin-top: 30px;
    font-size: 12px;
    color: gray;
}

.footer-info{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 12px;
    color: gray;
}
.footer-info p{
    margin-bottom: 10px;
}
.footer-info a{
    color: gray;
}
.footer-info p span{
    display: inline-block;
    margin: 0 10px;
}




